<div class="col-md-8">

    <div ng-show="is404" class="panel panel-default">
        <div class="panel-heading">
            <h2>Почему-то ничего не найдено :(</h2>
        </div>
    </div>


    <div ng-hide="is404" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{post.title}}</h3>
        </div>
        <div class="panel-body">
            <div>
                {{post.content}}
            </div>
            <div class="tumblr-tags">
                <span class="glyphicon glyphicon-tags"></span>
                <a ng-repeat="tag in post.tags" href="{{config.root}}/#/posts?tags={{tag}}" class="label label-default">{{tag}}</a>
            </div>
        </div>

        <div class="panel-footer">
            <a href="{Permalink}">
                <div class="notes pull-right">
                    <span class="badge" title="{NoteCountWithLabel}">{NoteCount}</span>
                </div>
                <div class="footer for_permalink">
                    <div class="date">
                        Posted {{post.date}} {block:source}from {source}{/block:source}
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>