<div class="col-md-8">

    <div class="panel panel-default">
        <div class="panel-heading">
            <!--<h3 class="panel-title">{{post.title}}</h3>-->
        </div>
        <div class="panel-body">
            <form action="{{config.root + '/admin/newpost'}}">
                <input type="submit" class="btn btn-primary" value="{{lang.addNewPost}}">
            </form>

            <h3>Список постов</h3>

            <div ng-show="postsLoading" class="text-center">
                <spinner></spinner>
            </div>

            <table class="table table-bordered table-striped table-condensed">
                <tr ng-class="{'semi-transparent danger': post.deleting}" ng-repeat="post in posts">
                    <td>{{post.title}}</td>
                    <td class="td-small">
                        <a href="{{config.root}}/admin/edit/{{post.urlTitle}}">
                            <span class="glyphicon glyphicon-edit pointer"></span>
                        </a>
                    </td>
                    <td class="td-small">
                        <a href=#>
                            <span ng-click="deletePost(post, $index)" class="glyphicon glyphicon-trash pointer"></span>
                        </a>
                    </td>
                </tr>
            </table>

        </div>

        <div class="panel-footer">
            <!--<div class="notes pull-right">-->
            <!--<span class="badge" title="{NoteCountWithLabel}">{NoteCount}</span>-->
            <!--</div>-->
            <!--<div class="footer for_permalink">-->
            <!--<div class="date">-->
            <!--{{post.date}}-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>