<div class="col-md-8" when-scrolled="loadPosts()">
    <div ng-repeat="post in posts | filter:search track by $index" class="panel panel-default at-repeat-macro-in
         at-repeat-macro-out">
        <div class="panel-heading">
            <div class="date pull-right">
                {{post.date | date}}
            </div>
            <h3 class="no-margin-bottom">
                <a ng-href="{{config.root}}/post/{{post.urlTitle}}">{{post.title}}</a>
                <a href="admin/edit/{{post.urlTitle}}" ng-show="auth.isLoggedIn" class="glyphicon glyphicon-edit"></a>

            </h3>
        </div>
        <div class="panel-body">
            <p compilebb="post.shortContent"></p>

            <p>
                <button ng-click="readMore(post.urlTitle)" class="btn btn-default">{{lang.readMore}}</button>
            </p>

            <div class="tumblr-tags">
                <span class="glyphicon glyphicon-tags"></span>
                <a ng-repeat="tag in post.tags track by $index" href="{{config.root}}/posts?tags={{tag}}"
                   class="label label-default" tag-icon>{{tag}}</a>
            </div>
        </div>

        <div class="panel-footer">
            <div class="notes">
                <span>
                    {{lang.author}}: {{post.author}}<span ng-show="post.translation"> ({{lang.translation}})</span>
                </span>
            </div>
        </div>
    </div>

    <div ng-show="postsLoading" class="text-center">
        <spinner></spinner>
    </div>

</div>

