<div class="col-md-8">
    <div ng-show="is404" class="panel panel-default">
        <div class="panel-heading">
            <h2>Почему-то ничего не найдено :(</h2>
        </div>
    </div>


    <div ng-hide="is404" class="panel panel-default">
        <div class="panel-heading">
            <div class="date pull-right">
                {{post.date | date}}
            </div>
            <h3 class="panel-title">{{post.title}}</h3>
        </div>
        <div class="panel-body">
            <div compilebb="post.content"></div>
            <div class="tumblr-tags">
                <span class="glyphicon glyphicon-tags"></span>
                <a ng-repeat="tag in post.tags track by $index" href="{{config.root}}/posts?tags={{tag}}"
                   class="label label-default">{{tag}}</a>
            </div>
        </div>

        <div class="panel-footer">
            <div class="notes">
                <span>
                    {{lang.author}}: {{post.author}}<span ng-show="post.translation"> ({{lang.translation}})</span>
                </span>
            </div>

            <dir-disqus disqus-shortname="Meangu"
            disqus-identifier="{{ post.urlTitle }}"
            ready-to-bind="{{ contentLoaded }}">
            </dir-disqus>

        </div>


    </div>
</div>
