<!DOCTYPE html>
<html ng-app="blog" ng-controller="ConfigCtrl">
<head>
    <title>{{metaTags.title}}</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/lib/css/hljs.css" rel="stylesheet" type="text/css">
    <link href="/lib/css/angular-flip.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link rel="shortcut icon" href="/img/favicon.ico" />

    <meta charset="UTF-8">

    <meta name="keywords" content="{{metaTags.keywords}}">
    <meta name="description" content="{{metaTags.description}}">

    <meta name='yandex-verification' content='4755cfeff658098c' />

    <!-- otherwise html5mode routing will not work -->
    <base href="/"/>


</head>
<body>

<div class="navbar navbar-default">
    <div class="container">
        <h1><a class="navbar-brand" href="{{config.root}}">{{config.title}}</a></h1>
        <ul ng-show="auth.isLoggedIn" class="list-inline pull-right">
            <li><a href="{{config.root}}/admin">Admin</a></li>
            <li><a href="#" ng-click="logout()">LogOut</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-4 css-class" ng-controller="SideCtrl">
            <div class="well well-lg">
                <div class="media">
                    <flip flip-toggle class="pointer">
                        <flip-front>
                            <img src="img/flip-front.png" class="media-object center img-thumbnail">
                        </flip-front>
                        <flip-back>
                            <img src="img/flip-back.png" class="media-object center img-thumbnail">
                        </flip-back>
                    </flip>

                    <div class="media-body">
                        <h2 class="lead text-center">{{config.description}}</h2>
                    </div>
                </div>
                <!--<form action="{{config.root + '/posts?search=' + search}}" class="form-horizontal sidebar-item">-->
                <!--<div class="input-group">-->
                <!--<span class="input-group-addon">-->
                <!--<span class="glyphicon glyphicon-search"></span>-->
                <!--</span>-->
                <!--<input ng-model="search" type="text" class="form-control"-->
                <!--placeholder="Пока не работает">-->
                <!--</div>-->
                <!--</form>-->

                <div class="margin-top">
                    <h2>Тэги</h2>
                    <ul class="list-inline">
                        <li ng-repeat="tag in tags">
                            <a href="{{config.root}}/posts?tags={{tag}}" class="label label-default"
                               tag-icon>{{tag}}</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <ng-view></ng-view>

    </div>
</div>

<footer>
    <h3>{{lang.footerText}}</h3>

    <p>Для связи: meangu.ru@gmail.com</p>
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-animate.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>

<script src="js/index.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="lib/js/angular-disqus.js"></script>
<script src="lib/js/hljs.js"></script>
<script src="lib/js/hljs-angular.js"></script>
<script src="lib/js/angular-flip.js"></script>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-48791537-1', 'meangu.ru');
    ga('send', 'pageview');

</script>


</body>
</html>