<!DOCTYPE html>
<html ng-app="blog">
<head>
    <title>Angu</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/css/hljs.css" rel="stylesheet">

    <meta charset="UTF-8">

    <!-- otherwise html5mode routing will not work -->
    <base href="/index.html"/>


</head>
<body>
<body ng-controller="ConfigCtrl">


<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="{{config.root}}">{{config.title}}</a>
        <ul class="list-inline navbar-brand pull-right no-margin-bottom">
            <li><a href="#" ng-click="logout()" ng-show="loggedin">LogOut</a></li>
            <li><a href="{{config.root}}/admin">Admin</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">

        <ng-view></ng-view>

        <div class="col-md-4 css-class" ng-controller="SideCtrl">
            <div class="well well-lg">
                <div class="media">
                    <a href="{{config.root}}">
                        <img ng-src="{{config.avatarLink}}" class="media-object center img-thumbnail">
                    </a>

                    <div class="media-body">
                        <p class="lead text-center">{{config.description}}</p>
                    </div>
                </div>
                <form action="{{config.root + '/posts?search=' + search}}" class="form-horizontal sidebar-item">
                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </span>
                        <input ng-model="search" type="text" class="form-control"
                               placeholder="Search">
                    </div>
                </form>

                <h2>Тэги</h2>
                <ul class="list-inline">
                    <li ng-repeat="tag in tags">
                        <a href="{{config.root}}/posts?tags={{tag}}">{{tag}}</a>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>

<footer>
    My own (c) 2014 Fuck Off
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-animate.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>

<script src="js/index.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="lib/js/angular-disqus.js"></script>
<script src="lib/js/hljs.js"></script>
<script src="lib/js/hljs-angular.js"></script>

</body>
</html>